.slick-slider-wrapper {
overflow: hidden !important;
}

.song1_wrapper {
    position:fixed !important;
    bottom:0 !important;
}
.my_song {
    padding-top: 9rem;
}

.my_song .AudioPrev {
    display: none !important;
}

.my_song .AudioNext {
    display: none !important;
}

#toTop{
    bottom:13vh;
}

a[class=float] {
    bottom: 26vh;
    right:10px;
}




